version: 2.1

setup: true

orbs:
  # switch to latest
  config-splitting: circle-makotom-orbs/config-splitting@0.0.5

workflows:
  setup:
    jobs:
      # 分割されたコンフィグを選択的に結合して実行
      - config-splitting/run-modular-configs-selectively:
          module-list-file: .circleci/subdir-list.txt
          base-revision: main # check against your desired/default branch
